In [9]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
from mpl_toolkits.mplot3d import Axes3D  
import IPython.display as IPdisplay
import imageio

In [10]:
data1 = pd.read_csv("dataset2016-2018.csv")
data1.head(10)

,order_id,bin,payment_type,billing_city,billing_postal_code,retry_indicator,traffic_provider,M0_Approval%
0,9426995,408537,Visa,HAMPTON,3842,0,N\A,1.000000
1,11614239,412739,Visa,KATY,77494,0,MobileSite-PD-TextLink-SeeExactAddress,1.000000
2,11614242,379743,American Express,MADISON,39110,0,22,1.000000
3,11614257,400344,Visa,LIVE OAK,32060,0,PropContact,1.000000
4,11614281,517760,MasterCard,POMPANO BEACH,33065,0,N\A,0.000000
5,11614283,473703,Visa,NORFOLK,23503,0,trulia foreclosures,1.000000
6,11614289,437307,Visa,KANSAS CITY,66106,0,MobileSite-PD-TextLink-SeeExactAddress,0.333333
7,11614312,416993,Visa,ROYSTON,30662,0,N\A,0.000000
8,11614316,441244,Visa,HEADLAND,36345,0,HeaderMenuJoin,1.000000
9,11614349,430326,Visa,WHARNCLIFFE,25651,0,Mobile_Banner,0.000000

In [18]:
# bin_count = data1.groupby('bin')['bin'].nunique()
# bin_count
bin_count = data1['bin'].value_counts()
bin_count = pd.DataFrame({'bin':bin_count.index, 'count':bin_count.values})
bin_count.head(10).style.hide_index()

In [14]:
bin_count['count']

0        6013
1        3254
2        3193
3        2096
4        1992
         ...
11178       1
11179       1
11180       1
11181       1
11182       1
Name: count, Length: 11183, dtype: int64